/* Back Button styled with success green */
.back-button-style {
  background-color: #38b2ac;  /* Bootstrap success green */
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 30px;
  font-weight: 500;
  transition: all 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.back-button-style:hover {
  background-color:#38b2ac; /* Darker green on hover */
  transform: scale(1.05);
  color: white;
  text-decoration: none;
}

/* Map Button */
.btn-map {
  background-color: #38b2ac;
  color: white;
  border: none;
  transition: background-color 0.3s ease, transform 0.2s;
  font-weight: 500;
}

.btn-map:hover {
  background-color:#38b2ac;
  transform: scale(1.03);
  color: white;
}

